

/* FILE UPLOAD */

 .x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;

	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}

/*VIEW IMAGE*/
 #images-view .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
#images-view .thumb{
	background: #dddddd;
	padding: 3px;
}
#images-view .thumb img{
	height: 60px;
	width: 80px;
}
#images-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
#images-view .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

#images-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../images/row-over.gif) repeat-x left top;
	padding: 4px;
}

#images-view .x-view-selected{
	background: #eff5fb url(ext/images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
#images-view .x-view-selected .thumb{
	background:transparent;
}

#images-view .loading-indicator {
	font-size:11px;
	background-image:url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

/* data-capture */
.data-capture {
    font-size: 13px;
    text-align: center;
    display: block;
    background: #6b869f;
    margin: 5px;
    padding: 5px 25px 5px 25px;
    color: #fff;
    border: 0;
    text-decoration: none !important;
    transition: 0.35s;
    border: 2px solid #4a566b;
    font-weight: bold;
}

.data-capture:hover{
	color: #fff !important;
	background-color: #6b869f !important;
}


/* DEFAULT FIELDS  */

.default-fields{

	font-size: 12px;
    text-align: center;
    display: block;
    background: #EAEBFF;
    margin: 5px;
    border-radius: 4px;
    padding: 5px 25px 5px 25px;
    color: #000000;
    border: 0;
	text-decoration: none !important;
    transition: 0.35s;
    border: 1px solid #abc;
}

.default-fields:hover{
	color: #fff !important;
	background-color: #6b869f !important;
}
.custom-fields{

	text-align: center;
    padding: 10px;
    background-color: #D3D6FF;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
}

/*HTML EDITOR ICONS*/
.x-edit-removeFormat {background: url(../images/edit-removeFormat.png) 0 0 no-repeat !important;}
.x-edit-image {background: url(../images/edit-image.png) 0 0 no-repeat !important;}
.x-edit-undo {background: url(../images/edit-undo.png) 0 0 no-repeat !important;}
.x-edit-redo {background: url(../images/edit-redo.png) 0 0 no-repeat !important;}
.x-upload-folder {background: url(../images/folder-open.gif) 0 0 no-repeat !important;}


.char-item {
	float: left; 
	border: 1px solid #99BBE8; 
	margin: 3px; 
	text-align: center; 
	vertical-align: middle; 
	width: 20px; 
	height: 20px; 
	font-size: 14px;
	color: #15428B;
	cursor: pointer;
}
.char-item.x-view-selected {
	background-color: #777;
}
.char-over {
	border: 1px solid #15428B;
	background-color:#d0def0;
}
#signaturename{
	font-size: 13px !important;
	font-weight: bold !important;
}

/* SCRIPT EDITOR */
#scrp #extfields{
	cursor: pointer !important;
}
#scrp #extfields:hover{
	background-color: #0CC !important;
}

.button {
    background-color: #0CC !important;
    margin: 10px !important;
    padding: 10px !important;
}

/* VIEW FILES */

 #img-chooser-dlg .details{ 
    padding: 10px; 
    text-align: center; 
} 
#img-chooser-dlg .details-info{ 
    border-top: 1px solid #cccccc; 
    font: 11px Arial, Helvetica, sans-serif; 
    margin-top: 5px; 
    padding-top: 5px; 
    text-align: left; 
} 
#img-chooser-dlg .details-info b{ 
    color: #555555; 
    display: block; 
    margin-bottom: 4px; 
} 
#img-chooser-dlg .details-info span{ 
    display: block; 
    margin-bottom: 5px; 
    margin-left: 5px; 
} 

#img-chooser-view{ 
    background: white; 
    font: 11px Arial, Helvetica, sans-serif;
} 
#img-chooser-view .thumb{ 
    background: #dddddd; 
    padding: 3px; 
} 
#img-chooser-view .thumb img{ 
    height: 60px; 
    width: 80px; 
} 
#img-chooser-view .thumb-wrap{ 
    float: left; 
    margin: 4px; 
    margin-right: 0; 
    padding: 5px;
} 
#img-chooser-view .thumb-wrap span{ 
    display: block; 
    overflow: hidden; 
    text-align: center; 
} 
#img-chooser-view .x-view-over{
    border:1px solid #dddddd; 
    background: #efefef url(../images/row-over.gif) repeat-x left top; 
    padding: 4px; 
}
#img-chooser-view .x-view-selected{ 
    background: #DFEDFF; 
    border: 1px solid #6593cf; 
    padding: 4px; 
} 
#img-chooser-view .x-view-selected .thumb{ 
    background:transparent; 
}
#img-chooser-view .x-view-selected span{ 
    color:#1A4D8F;
}
#img-chooser-view .loading-indicator { 
    font-size:11px; 
    background-image:url('../images/loading.gif'); 
    background-repeat: no-repeat; 
    background-position: left; 
    padding-left:20px; 
    margin:10px; 
} 


/* Source Edit Textarea */
#bio, #scrp{
    margin-top:28px !important; 
}
/* New CustomField */
#x-form-el-custlabel{
    margin-top: 15px !important;
}
#x-form-el-custname{
    margin-top: 10px !important;
}
.x-date-menu {
    width: 175;
 }

/* Email Template Buttons */

.btn-ext-align{

    margin-left: 45%;
}

.btn-extjs{
    font: normal 11px tahoma,verdana,helvetica;
    cursor: pointer;
    background-color: #4a6278;
    border: 0;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;

}

.btn-extjs:hover{

    background-color: #6b869f;

}   

.back-btn{

    float: right;
}
.verifyfield{
    margin-top: -22px;
    margin-left: 223px;
    position: absolute;
    float: right;
}

/* Load From Library btn */

.loadlibrary{
    position: fixed;
    margin-top: -26px;
    margin-left: 125px;
}
